[submodule "third-party/mumble"]
	path = third-party/mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api.git
[submodule "third-party/nexus"]
	path = third-party/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/RaidcoreGG/imgui.git
[submodule "third-party/gw2re"]
	path = third-party/gw2re
	url = https://github.com/TyrianDeveloperCollective/GW2RE-lib.git
